.productos
{   
    background-position: center;  
    width: 20%;
    background: none;
    margin: 30px;
    
}
.producto1
{   
    background-position: center;  
    width: 20%;
    background: none;
    margin: 30px;
    
}
.producto2
{   
    background-position: center;  
    width: 20%;
    background: none;
    margin: 30px;
    
}



#fondo1
{
    background: url(Lineas\ borrosas\ coloridas_xtrafondos.com.jpg) ;

}